# Loading data

In [1]:
import pandas as pd
import numpy as np

## pandas.Series

`Series` one dimensional array containing data and index, the same as one column in excel table.

In [2]:
age = pd.Series([19, 25, 18, 29], index=['Anna', 'Emily', 'Hannah', 'Julie'])

In [3]:
type(age)

pandas.core.series.Series

In [4]:
age

Anna      19
Emily     25
Hannah    18
Julie     29
dtype: int64

In [5]:
age.index

Index(['Anna', 'Emily', 'Hannah', 'Julie'], dtype='object')

In [6]:
age.values

array([19, 25, 18, 29])

temperature
index = '2018-12-03'
values = 8.0

In [7]:
temperature = pd.Series(
    [8.0, 7.5, -1.0, 2.0], 
    index=['2018-12-03', '2018-12-04', '2018-12-05', '2018-12-06']
)

In [8]:
temperature.subtract(temperature.mean())

2018-12-03    3.875
2018-12-04    3.375
2018-12-05   -5.125
2018-12-06   -2.125
dtype: float64

In [9]:
temperature.mean()

4.125

In [10]:
age.sort_values()

Hannah    18
Anna      19
Emily     25
Julie     29
dtype: int64

In [11]:
age.subtract(18)

Anna       1
Emily      7
Hannah     0
Julie     11
dtype: int64

### `Series` has attributes and methods

In [12]:
age.name = 'agee' # name is an attribute

In [13]:
age

Anna      19
Emily     25
Hannah    18
Julie     29
Name: agee, dtype: int64

In [14]:
age = age.rename('age') # rename is method

In [15]:
age

Anna      19
Emily     25
Hannah    18
Julie     29
Name: age, dtype: int64

### Loading data from `dict`

In [16]:
movies = {
    'Pavla':'Star Wars', 'Peter':'Star Trek', 'Jakub':'Star Wars', 'Claire':'Star Wars', 
    'Carol':'Star Trek', 'David':'Star Trek', 'Jan':'Star Trek', 'Filip':'Star Trek', 
    'Daniel':'Star Trek', 'Michaela':'Star Wars', 'James':'Star Trek'
}
movies_series  = pd.Series(movies)
movies_series

Pavla       Star Wars
Peter       Star Trek
Jakub       Star Wars
Claire      Star Wars
Carol       Star Trek
David       Star Trek
Jan         Star Trek
Filip       Star Trek
Daniel      Star Trek
Michaela    Star Wars
James       Star Trek
dtype: object

### Accessing elements of  `Series`

In [17]:
age[0]

19

In [18]:
age['Anna']

19

### Exercise

Create `pandas.Series` from the list of exam scores `[12, 33, 23, 15, 67]` for `['John', 'Emily', 'Jack', 'David', 'Matthew']`

1. Add name 'scores' attribute to it
2. Extract second element and store it as an variable
3. Extract Jack's exam scores

In [19]:
exam_scores = pd.Series([12, 33, 23, 15, 67], index=['John', 'Emily', 'Jack', 'David', 'Matthew'])
exam_scores

John       12
Emily      33
Jack       23
David      15
Matthew    67
dtype: int64

In [20]:
exam_scores.name = 'scores'

In [21]:
emily_scores = exam_scores[1]
emily_scores

33

In [22]:
jack_scores = exam_scores['Jack']
jack_scores

23

###  `Series` as array

In [23]:
age = pd.Series([19, 25, 18, 29], index=['Anna', 'Emily', 'Hannah', 'Julie'])

In [24]:
age.median()

22.0

In [25]:
age > age.median()

Anna      False
Emily      True
Hannah    False
Julie      True
dtype: bool

In [26]:
age[age >= age.min()]

Anna      19
Emily     25
Hannah    18
Julie     29
dtype: int64

### Vector operation with `Series`

In [27]:
# Number of selled ice cream scoops
ice_cream1 = pd.Series([30, 45, 55, 65], index=[
    'Chocolate', 'Strawberry', 'Vanilla', 'Straciatella'
])

In [28]:
# Number of selled scoops after campaign
ice_cream2 = pd.Series([110, 4, 150, 175], index=[
    'Chocolate', 'Strawberry', 'Vanilla', 'Straciatella'
])

In [29]:
ice_cream2 - ice_cream1

Chocolate        80
Strawberry      -41
Vanilla          95
Straciatella    110
dtype: int64

In [30]:
# If each scoop costs 35 CZK, how much money did we get?
price = 35
price * ice_cream1

Chocolate       1050
Strawberry      1575
Vanilla         1925
Straciatella    2275
dtype: int64

In [31]:
# What if strawberry costs 40 CZK, how much did we get for it?
price * ice_cream1['Strawberry']

1575

### Exercise

Write a function that compares if the elements of the first `pandas.Series` are greater than elements of the secon `pandas.Series` and **print** number of time it is true.
```python
>>> series1_is_greater_than_series2(series1, series2)
1
```

```python
def series1_is_greater_than_series2(series1, series2):
    # put your code here
```

In [32]:
def series1_is_greater_than_series2(series1, series2):
    print(sum(series1 > series2))

In [33]:
series1_is_greater_than_series2(ice_cream1, ice_cream2)

1

## DataFrame

Two-dimensional data structure containing indexed rows and columns, the same as excel table.

`DataFrame` can be created from `dict`, nested list, several `Series`, another `DataFrame`, etc.

In [34]:
movies = {
    'Pavla':'Star Wars', 'Peter':'Star Trek', 'Jakub':'Star Wars', 'Claire':'Star Wars', 
    'Carol':'Star Trek', 'David':'Star Trek', 'Jan':'Star Trek', 'Filip':'Star Trek', 
    'Daniel':'Star Trek', 'Michaela':'Star Wars', 'James':'Star Trek'
}
movies_df = pd.DataFrame(movies, index = range(0, len(movies)))

In [35]:
movies_df

,Pavla,Peter,Jakub,Claire,Carol,David,Jan,Filip,Daniel,Michaela,James
0,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
1,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
2,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
3,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
4,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
5,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
6,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
7,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
8,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
9,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek
10,Star Wars,Star Trek,Star Wars,Star Wars,Star Trek,Star Trek,Star Trek,Star Trek,Star Trek,Star Wars,Star Trek

In [36]:
# Not quite the way we wanted, let's specify that the data orientation is index
movies_df2 = pd.DataFrame.from_dict(movies, orient = 'index')
movies_df2

                  0
Pavla     Star Wars
Peter     Star Trek
Jakub     Star Wars
Claire    Star Wars
Carol     Star Trek
David     Star Trek
Jan       Star Trek
Filip     Star Trek
Daniel    Star Trek
Michaela  Star Wars
James     Star Trek

In [37]:
movies_df2.reset_index(inplace=True)

In [38]:
movies_df2

       index          0
0      Pavla  Star Wars
1      Peter  Star Trek
2      Jakub  Star Wars
3     Claire  Star Wars
4      Carol  Star Trek
5      David  Star Trek
6        Jan  Star Trek
7      Filip  Star Trek
8     Daniel  Star Trek
9   Michaela  Star Wars
10     James  Star Trek

In [39]:
movies_df2.columns = ['Name', 'Movie']

In [40]:
movies_df2.head()

     Name      Movie
0   Pavla  Star Wars
1   Peter  Star Trek
2   Jakub  Star Wars
3  Claire  Star Wars
4   Carol  Star Trek

In [41]:
movies_df2.tail()

        Name      Movie
6        Jan  Star Trek
7      Filip  Star Trek
8     Daniel  Star Trek
9   Michaela  Star Wars
10     James  Star Trek

In [42]:
ice_cream1 = pd.Series([30, 45, 55, 65], 
                       index=['Chocolate', 'Strawberry', 'Vanilla', 'Straciatella'], 
                       name = '2017'
)
ice_cream2 = pd.Series([110, 120, 150, 175], 
                       index=['Chocolate', 'Strawberry', 'Vanilla', 'Straciatella'],
                      name = '2018'
) 
ice_cream_df = pd.concat([ice_cream1, ice_cream2], axis=1)
ice_cream_df

              2017  2018
Chocolate       30   110
Strawberry      45   120
Vanilla         55   150
Straciatella    65   175

In [43]:
ice_cream_df.describe()

            2017        2018
count   4.000000    4.000000
mean   48.750000  138.750000
std    14.930394   29.545163
min    30.000000  110.000000
25%    41.250000  117.500000
50%    50.000000  135.000000
75%    57.500000  156.250000
max    65.000000  175.000000

In [44]:
import datetime
np.datetime64('2012-06-18T02:00:06.453000000')-np.datetime64('2012-06-18T02:00:05.453000000')

numpy.timedelta64(1000000000,'ns')

In [45]:
datetime.datetime(2018,10,12,8,0,0)

datetime.datetime(2018, 10, 12, 8, 0)

In [46]:
np.datetime64('2012-06-18T02:00:05.453000000')

numpy.datetime64('2012-06-18T02:00:05.453000000')

### Exercise

Create `pandas.DataFrame` from the data from previous exercise (scores`[12, 33, 23, 15, 67]` for `['John', 'Emily', 'Jack', 'David', 'Matthew']`).

1. Add column names = `Scores` and `Name`
2. Compute descriptive statistics for `Scores` column

In [47]:
scores = pd.Series([12, 33, 23, 15, 67], index=['John', 'Emily', 'Jack', 'David', 'Matthew'])
scores

John       12
Emily      33
Jack       23
David      15
Matthew    67
dtype: int64

In [48]:
df = pd.DataFrame(scores)

In [49]:
df.reset_index(inplace=True)
df.columns = ['Name', 'Scores']

In [50]:
df.head()

      Name  Scores
0     John      12
1    Emily      33
2     Jack      23
3    David      15
4  Matthew      67

In [51]:
df.Scores.describe()

count     5.000000
mean     30.000000
std      22.226111
min      12.000000
25%      15.000000
50%      23.000000
75%      33.000000
max      67.000000
Name: Scores, dtype: float64

## Loading data

In [52]:
import pandas as pd
import numpy as np

#### CSV import

In [53]:
wolf_data = pd.read_csv(
    'http://vincentarelbundock.github.io/Rdatasets/csv/carData/Depredations.csv', index_col = 0
)
wolf_data.head()

   longitude  latitude  number  early  late
1      -94.5      46.1       1      0     1
2      -93.0      46.6       2      0     2
3      -94.6      48.5       1      1     0
4      -92.9      46.6       2      0     2
5      -95.9      48.8       1      0     1

#### Clipboard import

In [54]:
data_clipboard = pd.read_clipboard()
data_clipboard

   emily_scores   =  exam_scores[1]
0  emily_scores NaN             NaN

####  TXT and TSV table import

In [55]:
titanic_train = pd.read_table(
    'http://www.statsci.org/data/general/titanic.txt')
titanic_train.head()

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1

#### JSON import

Data from Czech hydrometeorological institute - air quality

We want to extract various air quality measurements from different parts of Czech republic and then load them as `DataFrame`.

In [56]:
import requests

In [57]:
response = requests.get('http://portal.chmi.cz/files/portal/docs/uoco/web_generator/aqindex_cze.json')
chmi_air = response.json()
chmi_air

{'Actualized': '12.12.2018 15:48 SE',
 'Components': [{'Code': 'SO2', 'Name': 'oxid siiit', 'Unit': 'g/m'},
  {'Code': 'NO2', 'Name': 'oxid dusiit', 'Unit': 'g/m'},
  {'Code': 'CO', 'Name': 'oxid uhelnat', 'Unit': 'g/m'},
  {'Code': 'O3', 'Name': 'ozon', 'Unit': 'g/m'},
  {'Code': 'PM10', 'Name': 'stice PM10', 'Unit': 'g/m'},
  {'Code': 'PM2_5', 'Name': 'jemn stice PM2,5', 'Unit': 'g/m'}],
 'IsOzoneUsedInIndex': False,
 'Legend': [{'Color': 'C7EAFB',
   'ColorText': '000000',
   'Description': 'velmi dobr',
   'Ix': 1},
  {'Color': '9BD3AE', 'ColorText': '000000', 'Description': 'dobr', 'Ix': 2},
  {'Color': 'FFF200',
   'ColorText': '000000',
   'Description': 'uspokojiv',
   'Ix': 3},
  {'Color': 'FAA61A',
   'ColorText': '000000',
   'Description': 'vyhovujc',
   'Ix': 4},
  {'Color': 'ED1C24', 'ColorText': 'FFFFFF', 'Description': 'patn', 'Ix': 5},
  {'Color': '671F20',
   'ColorText': 'FFFFFF',
   'Description': 'velmi patn',
   'Ix': 6},
  {'Color': 'FFFFFF',
   'ColorText': '000000',
   'Description': 'Nepln data',
   'Ix': 0},
  {'Color': 'CFCFCF',
   'ColorText': '000000',
   'Description': 'Index se na uveden stanici nestanovuje',
   'Ix': -1}],
 'Note': 'Encoded in UTF-8. Contact vanek(@)idea-envi.cz if you need JAVA code to read this JSON',
 'States': [{'Code': 'CZ',
   'DateFromTo': '12.12.2018 14:00 - 15:00 SE',
   'DateFromUTC': '2018-12-12 13:00:00.0 UTC',
   'DateToUTC': '2018-12-12 14:00:00.0 UTC',
   'Name': 'esk republika',
   'Regions': [{'Code': 'A',
     'Name': 'Praha',
     'Stations': [{'Classif': '',
       'Code': '',
       'Ix': 2,
       'Name': 'Sted Prahy',
       'Owner': ''},
      {'Classif': 'dopravn',
       'Code': 'AKALA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '12.0'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 0,
       'Lat': '50.094238',
       'Lon': '14.442049',
       'Name': 'Praha 8-Karln',
       'Owner': 'HM'},
      {'Classif': 'dopravn',
       'Code': 'ALEGA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 3, 'Val': '67.0'},
        {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '356'},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '15.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.1'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '7.0'}],
       'Ix': 3,
       'Lat': '50.072388',
       'Lon': '14.430673',
       'Name': 'Praha 2-Legerova (hot spot)',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'AREPA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '40.2'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 2, 'Val': '23.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.6'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 2,
       'Lat': '50.088066',
       'Lon': '14.429220',
       'Name': 'Praha 1-n. Republiky',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'ARIEA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '1.3'},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '24.7'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '36.9'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.9'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '32.0'}],
       'Ix': 1,
       'Lat': '50.081482',
       'Lon': '14.442692',
       'Name': 'Praha 2-Riegrovy sady',
       'Owner': 'HM'},
      {'Classif': 'dopravn',
       'Code': 'ASMIA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '30.0'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '7.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.5'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '6.0'}],
       'Ix': 2,
       'Lat': '50.073135',
       'Lon': '14.398141',
       'Name': 'Praha 5-Smchov',
       'Owner': 'HM'},
      {'Classif': 'dopravn',
       'Code': 'AVRSA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '10.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.2'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '50.066429',
       'Lon': '14.446152',
       'Name': 'Praha 10-Vrovice',
       'Owner': 'HM'},
      {'Classif': 'dopravn',
       'Code': 'AVYNA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '49.5'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '19.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '19.8'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.0'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 2,
       'Lat': '50.111080',
       'Lon': '14.503096',
       'Name': 'Praha 9-Vysoany',
       'Owner': 'HM'},
      {'Classif': '', 'Code': '', 'Ix': 1, 'Name': 'Okraj Prahy', 'Owner': ''},
      {'Classif': 'pedmstsk',
       'Code': 'AKOBA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '19.1'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '5.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '37.9'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.9'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '50.122189',
       'Lon': '14.467578',
       'Name': 'Praha 8-Kobylisy',
       'Owner': 'HM'},
      {'Classif': 'pedmstsk',
       'Code': 'ALIBA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '1.3'},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '15.3'},
        {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '297'},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '10.3'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '44.1'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.9'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '5.1'}],
       'Ix': 1,
       'Lat': '50.007305',
       'Lon': '14.445933',
       'Name': 'Praha 4-Libu',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'ASTOA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '30.3'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.3'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '4.0'}],
       'Ix': 1,
       'Lat': '50.046131',
       'Lon': '14.331413',
       'Name': 'Praha 5-Stodlky',
       'Owner': 'HM'},
      {'Classif': 'pedmstsk',
       'Code': 'ASUCA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '35.1'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.7'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '50.126530',
       'Lon': '14.384639',
       'Name': 'Praha 6-Suchdol',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'ABREA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '32.1'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '6.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.1'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 2,
       'Lat': '50.084385',
       'Lon': '14.380116',
       'Name': 'Praha 6-Bevnov',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'ACHOA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '16.8'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '18.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.5'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '50.030170',
       'Lon': '14.517450',
       'Name': 'Praha 4-Chodov',
       'Owner': 'HM'},
      {'Classif': 'dopravn',
       'Code': 'ALERA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '14.5'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '14.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '8.2'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '6.0'}],
       'Ix': 1,
       'Lat': '50.107086',
       'Lon': '14.257226',
       'Name': 'Letit Praha',
       'Owner': 'Letit Pr'},
      {'Classif': 'dopravn',
       'Code': 'APRUA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '24.1'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.8'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '50.062298',
       'Lon': '14.537820',
       'Name': 'Praha 10-Prmyslov',
       'Owner': 'HM'},
      {'Classif': 'pedmstsk',
       'Code': 'ARERA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '15.1'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.5'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '8.0'}],
       'Ix': 1,
       'Lat': '50.030418',
       'Lon': '14.309517',
       'Name': 'Praha 5-eporyje',
       'Owner': 'Z st nL'},
      {'Classif': 'mstsk',
       'Code': 'ASROA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '22.6'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '5.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '3.4'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '3.0'}],
       'Ix': 1,
       'Lat': '50.075150',
       'Lon': '14.472661',
       'Name': 'Praha 10-robrova',
       'Owner': 'ZUst/SZ'}]},
    {'Code': 'S',
     'Name': 'Stedoesk',
     'Stations': [{'Classif': 'dopravn',
       'Code': 'SBERA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '17.4'},
        {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '344'},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '11.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.0'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '4.0'}],
       'Ix': 1,
       'Lat': '49.957928',
       'Lon': '14.058300',
       'Name': 'Beroun',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'SKHOA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 0},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': ''},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
       'Ix': 0,
       'Lat': '49.950474',
       'Lon': '15.260361',
       'Name': 'Kutn Hora-Orebitsk',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'SKLMA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '10.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '20.9'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.8'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '3.0'}],
       'Ix': 1,
       'Lat': '50.143860',
       'Lon': '14.101784',
       'Name': 'Kladno-sted msta',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'SKLSA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '15.4'},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '18.6'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '12.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '16.8'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '50.167412',
       'Lon': '14.106048',
       'Name': 'Kladno-vermov',
       'Owner': 'HM'},
      {'Classif': 'prmyslov',
       'Code': 'SKRPA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.3'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '7.0'}],
       'Ix': 1,
       'Lat': '50.251415',
       'Lon': '14.316583',
       'Name': 'Kralupy nad Vltavou-sportovit',
       'Owner': 'Z st nL'},
      {'Classif': 'mstsk',
       'Code': 'SMBOA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 0},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': ''},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': ''},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
       'Ix': 0,
       'Lat': '50.428646',
       'Lon': '14.913859',
       'Name': 'Mlad Boleslav',
       'Owner': 'HM'},
      {'Classif': 'venkovsk',
       'Code': 'SONRA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': -1},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '55.1'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -1},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': -1,
       'Lat': '49.913513',
       'Lon': '14.782625',
       'Name': 'Ondejov',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'SPBRA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '18.0'},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '3.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.0'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '49.676315',
       'Lon': '13.991222',
       'Name': 'Pbram-Bezov Hory',
       'Owner': 'HM'},
      {'Classif': 'venkovsk',
       'Code': 'SRORA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 0},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': ''},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
       'Ix': 0,
       'Lat': '50.301983',
       'Lon': '15.178303',
       'Name': 'Roalovice-Rusk',
       'Owner': 'HM'},
      {'Classif': 'venkovsk',
       'Code': 'STCSA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '10.9'},
        {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '255'},
        {'Code': 'PM10', 'Int': '1h', 'Ix': -1},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '29.5'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -1},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '13.0'}],
       'Ix': -1,
       'Lat': '49.918503',
       'Lon': '14.094489',
       'Name': 'Tobolka-ertovy schody',
       'Owner': 'Vs'}]},
    {'Code': 'C',
     'Name': 'Jihoesk',
     'Stations': [{'Classif': 'mstsk',
       'Code': 'CCBDA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '6.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '12.4'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.1'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '3.0'}],
       'Ix': 0,
       'Lat': '48.984386',
       'Lon': '14.465684',
       'Name': 'esk Budjovice',
       'Owner': 'HM'},
      {'Classif': 'mstsk',
       'Code': 'CCBTA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.1'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '8.0'}],
       'Ix': 1,
       'Lat': '48.965904',
       'Lon': '14.508792',
       'Name': 'es. Budjovice-Te.',
       'Owner': 'Z st nL'},
      {'Classif': 'venkovsk',
       'Code': 'CCHUA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '1.1'},
        {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': -1},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '39.7'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -1},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
       'Ix': -1,
       'Lat': '49.068436',
       'Lon': '13.614801',
       'Name': 'Churov',
       'Owner': 'HM'},
      {'Classif': 'venkovsk',
       'Code': 'CHVOA',
       'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
        {'Code': 'CO', 'Int': '8h', 'Ix': -1},
        {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '7.0'},
        {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '26.9'},
        {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '3.4'},
        {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
       'Ix': 1,
       'Lat': '48.724197',
       'Lon': '14.723382',
       'Name': 'Hojn Voda',
       'Owner': 'HM'},
      {'Classif': 'venkovsk',
       'Code': 'CKOCA',

In [58]:
czech = [state for state in chmi_air['States'] if state['Code'] == 'CZ']
czech[0]

{'Code': 'CZ',
 'DateFromTo': '12.12.2018 14:00 - 15:00 SE',
 'DateFromUTC': '2018-12-12 13:00:00.0 UTC',
 'DateToUTC': '2018-12-12 14:00:00.0 UTC',
 'Name': 'esk republika',
 'Regions': [{'Code': 'A',
   'Name': 'Praha',
   'Stations': [{'Classif': '',
     'Code': '',
     'Ix': 2,
     'Name': 'Sted Prahy',
     'Owner': ''},
    {'Classif': 'dopravn',
     'Code': 'AKALA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '12.0'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 0,
     'Lat': '50.094238',
     'Lon': '14.442049',
     'Name': 'Praha 8-Karln',
     'Owner': 'HM'},
    {'Classif': 'dopravn',
     'Code': 'ALEGA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 3, 'Val': '67.0'},
      {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '356'},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '15.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.1'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '7.0'}],
     'Ix': 3,
     'Lat': '50.072388',
     'Lon': '14.430673',
     'Name': 'Praha 2-Legerova (hot spot)',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'AREPA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '40.2'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 2, 'Val': '23.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.6'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 2,
     'Lat': '50.088066',
     'Lon': '14.429220',
     'Name': 'Praha 1-n. Republiky',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'ARIEA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '1.3'},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '24.7'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '36.9'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.9'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '32.0'}],
     'Ix': 1,
     'Lat': '50.081482',
     'Lon': '14.442692',
     'Name': 'Praha 2-Riegrovy sady',
     'Owner': 'HM'},
    {'Classif': 'dopravn',
     'Code': 'ASMIA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '30.0'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '7.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.5'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '6.0'}],
     'Ix': 2,
     'Lat': '50.073135',
     'Lon': '14.398141',
     'Name': 'Praha 5-Smchov',
     'Owner': 'HM'},
    {'Classif': 'dopravn',
     'Code': 'AVRSA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '10.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.2'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '50.066429',
     'Lon': '14.446152',
     'Name': 'Praha 10-Vrovice',
     'Owner': 'HM'},
    {'Classif': 'dopravn',
     'Code': 'AVYNA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '49.5'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '19.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '19.8'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.0'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 2,
     'Lat': '50.111080',
     'Lon': '14.503096',
     'Name': 'Praha 9-Vysoany',
     'Owner': 'HM'},
    {'Classif': '', 'Code': '', 'Ix': 1, 'Name': 'Okraj Prahy', 'Owner': ''},
    {'Classif': 'pedmstsk',
     'Code': 'AKOBA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '19.1'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '5.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '37.9'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.9'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '50.122189',
     'Lon': '14.467578',
     'Name': 'Praha 8-Kobylisy',
     'Owner': 'HM'},
    {'Classif': 'pedmstsk',
     'Code': 'ALIBA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '1.3'},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '15.3'},
      {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '297'},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '10.3'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '44.1'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.9'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '5.1'}],
     'Ix': 1,
     'Lat': '50.007305',
     'Lon': '14.445933',
     'Name': 'Praha 4-Libu',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'ASTOA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '30.3'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.3'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '4.0'}],
     'Ix': 1,
     'Lat': '50.046131',
     'Lon': '14.331413',
     'Name': 'Praha 5-Stodlky',
     'Owner': 'HM'},
    {'Classif': 'pedmstsk',
     'Code': 'ASUCA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '8.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '35.1'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.7'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '50.126530',
     'Lon': '14.384639',
     'Name': 'Praha 6-Suchdol',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'ABREA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 2, 'Val': '32.1'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '6.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.1'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 2,
     'Lat': '50.084385',
     'Lon': '14.380116',
     'Name': 'Praha 6-Bevnov',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'ACHOA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '16.8'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '18.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.5'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '50.030170',
     'Lon': '14.517450',
     'Name': 'Praha 4-Chodov',
     'Owner': 'HM'},
    {'Classif': 'dopravn',
     'Code': 'ALERA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '14.5'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '14.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '8.2'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '6.0'}],
     'Ix': 1,
     'Lat': '50.107086',
     'Lon': '14.257226',
     'Name': 'Letit Praha',
     'Owner': 'Letit Pr'},
    {'Classif': 'dopravn',
     'Code': 'APRUA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '24.1'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.8'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '50.062298',
     'Lon': '14.537820',
     'Name': 'Praha 10-Prmyslov',
     'Owner': 'HM'},
    {'Classif': 'pedmstsk',
     'Code': 'ARERA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '15.1'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '9.5'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '8.0'}],
     'Ix': 1,
     'Lat': '50.030418',
     'Lon': '14.309517',
     'Name': 'Praha 5-eporyje',
     'Owner': 'Z st nL'},
    {'Classif': 'mstsk',
     'Code': 'ASROA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '22.6'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '5.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '3.4'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '3.0'}],
     'Ix': 1,
     'Lat': '50.075150',
     'Lon': '14.472661',
     'Name': 'Praha 10-robrova',
     'Owner': 'ZUst/SZ'}]},
  {'Code': 'S',
   'Name': 'Stedoesk',
   'Stations': [{'Classif': 'dopravn',
     'Code': 'SBERA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '17.4'},
      {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '344'},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '11.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.0'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '4.0'}],
     'Ix': 1,
     'Lat': '49.957928',
     'Lon': '14.058300',
     'Name': 'Beroun',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'SKHOA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 0},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': ''},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
     'Ix': 0,
     'Lat': '49.950474',
     'Lon': '15.260361',
     'Name': 'Kutn Hora-Orebitsk',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'SKLMA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '10.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '20.9'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.8'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '3.0'}],
     'Ix': 1,
     'Lat': '50.143860',
     'Lon': '14.101784',
     'Name': 'Kladno-sted msta',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'SKLSA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '15.4'},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '18.6'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '12.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '16.8'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '50.167412',
     'Lon': '14.106048',
     'Name': 'Kladno-vermov',
     'Owner': 'HM'},
    {'Classif': 'prmyslov',
     'Code': 'SKRPA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.3'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '7.0'}],
     'Ix': 1,
     'Lat': '50.251415',
     'Lon': '14.316583',
     'Name': 'Kralupy nad Vltavou-sportovit',
     'Owner': 'Z st nL'},
    {'Classif': 'mstsk',
     'Code': 'SMBOA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 0},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': ''},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': ''},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
     'Ix': 0,
     'Lat': '50.428646',
     'Lon': '14.913859',
     'Name': 'Mlad Boleslav',
     'Owner': 'HM'},
    {'Classif': 'venkovsk',
     'Code': 'SONRA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': -1},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '55.1'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -1},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': -1,
     'Lat': '49.913513',
     'Lon': '14.782625',
     'Name': 'Ondejov',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'SPBRA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '18.0'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '3.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.0'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '49.676315',
     'Lon': '13.991222',
     'Name': 'Pbram-Bezov Hory',
     'Owner': 'HM'},
    {'Classif': 'venkovsk',
     'Code': 'SRORA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 0},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': ''},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
     'Ix': 0,
     'Lat': '50.301983',
     'Lon': '15.178303',
     'Name': 'Roalovice-Rusk',
     'Owner': 'HM'},
    {'Classif': 'venkovsk',
     'Code': 'STCSA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '10.9'},
      {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '255'},
      {'Code': 'PM10', 'Int': '1h', 'Ix': -1},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '29.5'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -1},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '13.0'}],
     'Ix': -1,
     'Lat': '49.918503',
     'Lon': '14.094489',
     'Name': 'Tobolka-ertovy schody',
     'Owner': 'Vs'}]},
  {'Code': 'C',
   'Name': 'Jihoesk',
   'Stations': [{'Classif': 'mstsk',
     'Code': 'CCBDA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '6.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '12.4'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '5.1'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '3.0'}],
     'Ix': 0,
     'Lat': '48.984386',
     'Lon': '14.465684',
     'Name': 'esk Budjovice',
     'Owner': 'HM'},
    {'Classif': 'mstsk',
     'Code': 'CCBTA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '9.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.1'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '8.0'}],
     'Ix': 1,
     'Lat': '48.965904',
     'Lon': '14.508792',
     'Name': 'es. Budjovice-Te.',
     'Owner': 'Z st nL'},
    {'Classif': 'venkovsk',
     'Code': 'CCHUA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': 1, 'Val': '1.1'},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 0},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': -1},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '39.7'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -1},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': ''}],
     'Ix': -1,
     'Lat': '49.068436',
     'Lon': '13.614801',
     'Name': 'Churov',
     'Owner': 'HM'},
    {'Classif': 'venkovsk',
     'Code': 'CHVOA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '7.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '26.9'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '3.4'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '48.724197',
     'Lon': '14.723382',
     'Name': 'Hojn Voda',
     'Owner': 'HM'},
    {'Classif': 'venkovsk',
     'Code': 'CKOCA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': -1},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '28.3'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -1},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': -1,
     'Lat': '49.467274',
     'Lon': '13.837456',
     'Name': 'Kocelovice',
     'Owner': 'HM'},
    {'Classif': 'pedmstsk',
     'Code': 'CPRAA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '14.7'},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '3.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '28.7'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '4.2'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '49.016087',
     'Lon': '14.000444',
     'Name': 'Prachatice',
     'Owner': 'HM'},
    {'Classif': 'dopravn',
     'Code': 'CTABA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': 1, 'Val': '19.3'},
      {'Code': 'CO', 'Int': '8h', 'Ix': 1, 'Val': '253'},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '7.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -2, 'Val': '17.6'},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '8.5'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -1}],
     'Ix': 1,
     'Lat': '49.411232',
     'Lon': '14.676389',
     'Name': 'Tbor',
     'Owner': 'HM'}]},
  {'Code': 'P',
   'Name': 'Plzesk',
   'Stations': [{'Classif': 'dopravn',
     'Code': 'PKLSA',
     'Components': [{'Code': 'SO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'NO2', 'Int': '1h', 'Ix': -1},
      {'Code': 'CO', 'Int': '8h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '1h', 'Ix': 1, 'Val': '11.0'},
      {'Code': 'O3', 'Int': '1h', 'Ix': -1},
      {'Code': 'PM10', 'Int': '24h', 'Ix': -2, 'Val': '6.0'},
      {'Code': 'PM2_5', 'Int': '1h', 'Ix': -2, 'Val': '10.0'}],
     'Ix': 1,
     'Lat': '49.400608',
     'Lon': '13.286923',
     'Name': 'Klatovy soud',
     'Owner': 'Z st nL'},
    {'Classif': 'venkovsk',
     'Code': 'PKUJA',

In [59]:
stations = []
for r in czech[0]['Regions']:
    for s in r['Stations']:
        row = {'Station': s['Name'], 'Region': r['Name']}
        for c in s.get('Components', []):
            if 'Val' in c:
                row[c['Code']] = c['Val']
        stations.append(row)
air_pollution = pd.DataFrame.from_records(stations, index=['Region', 'Station'])
air_pollution.head()

                                     CO   NO2    O3  PM10 PM2_5  SO2
Region Station
Praha  Sted Prahy                  NaN   NaN   NaN   NaN   NaN  NaN
       Praha 8-Karln               NaN   NaN   NaN  12.0   NaN  NaN
       Praha 2-Legerova (hot spot)  356  67.0   NaN   6.1   7.0  NaN
       Praha 1-n. Republiky         NaN  40.2   NaN   9.6   NaN  NaN
       Praha 2-Riegrovy sady        NaN  24.7  36.9   5.9  32.0  1.3

### Titanic data

In [60]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Bonus: hell with excel

Data from [Czech statistical office](https://www.czso.cz/csu/gender/2-gender_obyvatelstvo)

First marriages: by age of groom and bride

In order to make these table look more like tidy data:

1. Exclude empty rows in the beginning of the table
2. Make nice header
3. Exclude Czech names in header and index column

In [61]:
link = 'https://www.czso.cz/documents/10180/32853391/300002161106.xlsx/6bcf2981-2bf8-40c5-aac6-cefbf3034783?version=1.1'
pd.read_excel(link)

,OBYVATELSTVO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,POPULATION,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,1 - 6. Prvn satky podle vku snoubenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,First marriages: by age of groom and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pramen: S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Source: CZSO,NaN,NaN,NaN
3,Vk\nAge,1993,NaN,2000,NaN,2003,NaN,2004,NaN,2005,...,NaN,2013,NaN,2014,NaN,2015,NaN,NaN,NaN,NaN
4,NaN,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,...,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Celkem\n Total,51319,51450,41360,41528,36016,36371,37940,38147,38347,...,33443,32743,33029,34691,35155,36884,37021,NaN,NaN,NaN
7,16 - 19,5809,20105,701,3008,273,1503,264,1390,220,...,474,91,430,73,383,74,379,NaN,NaN,NaN
8,20 - 24,28661,24770,14273,22765,7307,14212,6401,12892,5342,...,6795,2567,5961,2562,6026,2847,6370,NaN,NaN,NaN
9,25 - 29,11937,4734,18652,13093,18537,16724,19220,18799,19128,...,15376,11257,15045,11644,15778,12150,16395,NaN,NaN,NaN
10,30 - 34,2913,1058,5061,1822,6951,3025,8715,4037,10103,...,8204,11480,8282,12104,9075,12404,9401,NaN,NaN,NaN
11,35 - 39,1123,394,1561,458,1786,533,2054,611,2146,...,2013,5233,2589,5869,3001,6365,3345,NaN,NaN,NaN
12,40 - 44,454,179,530,162,564,171,656,203,740,...,357,1298,448,1567,606,1984,825,NaN,NaN,NaN
13,45 - 49,200,104,280,94,281,90,294,98,296,...,116,403,122,459,132,586,167,NaN,NaN,NaN
14,50 - 54,103,33,144,53,158,66,159,59,201,...,51,180,65,199,75,250,78,NaN,NaN,NaN
15,55+,119,73,158,73,159,47,177,58,171,...,57,234,87,214,79,224,61,NaN,NaN,NaN
16,NaN,struktura v % St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Celkem\n Total,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,NaN,NaN,NaN
18,16 - 19,11.3194,39.0768,1.69487,7.24331,0.757996,4.13241,0.695836,3.6438,0.573709,...,1.41734,0.277922,1.30189,0.210429,1.08946,0.200629,1.02374,NaN,NaN,NaN
19,20 - 24,55.8487,48.1438,34.5092,54.8184,20.2882,39.0751,16.8714,33.7956,13.9307,...,20.3182,7.83984,18.0478,7.3852,17.1412,7.71879,17.2065,NaN,NaN,NaN
20,25 - 29,23.2604,9.20117,45.0967,31.5281,51.4688,45.9817,50.6589,49.2804,49.8813,...,45.9767,34.3799,45.5509,33.5649,44.8812,32.9411,44.2857,NaN,NaN,NaN
21,30 - 34,5.67626,2.05637,12.2365,4.3874,19.2998,8.31707,22.9705,10.5827,26.3463,...,24.5313,35.0609,25.0749,34.8909,25.8143,33.6298,25.3937,NaN,NaN,NaN
22,35 - 39,2.18827,0.765792,3.77418,1.10287,4.95891,1.46545,5.41381,1.6017,5.59627,...,6.0192,15.982,7.83857,16.9179,8.53648,17.2568,9.03541,NaN,NaN,NaN
23,40 - 44,0.884663,0.347911,1.28143,0.390098,1.56597,0.470155,1.72905,0.532152,1.92975,...,1.06749,3.96421,1.35638,4.51702,1.72379,5.37903,2.22846,NaN,NaN,NaN
24,45 - 49,0.389719,0.202138,0.676983,0.226353,0.780209,0.24745,0.774908,0.256901,0.771899,...,0.346859,1.2308,0.369372,1.32311,0.37548,1.58876,0.451095,NaN,NaN,NaN
25,50 - 54,0.200705,0.0641399,0.348162,0.127625,0.438694,0.181463,0.419083,0.154665,0.524161,...,0.152498,0.549736,0.196797,0.573636,0.213341,0.677801,0.210691,NaN,NaN,NaN
26,55+,0.231883,0.141885,0.382012,0.175785,0.44147,0.129224,0.466526,0.152043,0.445928,...,0.170439,0.714657,0.263405,0.616875,0.224719,0.607309,0.164771,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [62]:
pd.read_excel(link, header = 5)

,enich Groom,nevsta Bride,enich Groom.1,nevsta Bride.1,enich Groom.2,nevsta Bride.2,enich Groom.3,nevsta Bride.3,enich Groom.4,nevsta Bride.4,...,nevsta Bride.10,enich Groom.11,nevsta Bride.11,enich Groom.12,nevsta Bride.12,enich Groom.13,nevsta Bride.13,Unnamed: 28,Unnamed: 29,Unnamed: 30
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Celkem\n Total,51319,51450.000000,41360.000000,41528.000000,36016.000000,36371.000000,37940.000000,38147.000000,38347.000000,38605.000000,...,33443.000000,32743.000000,33029.000000,34691.000000,35155.000000,36884.000000,37021.000000,NaN,NaN,NaN
16 - 19,5809,20105.000000,701.000000,3008.000000,273.000000,1503.000000,264.000000,1390.000000,220.000000,1214.000000,...,474.000000,91.000000,430.000000,73.000000,383.000000,74.000000,379.000000,NaN,NaN,NaN
20 - 24,28661,24770.000000,14273.000000,22765.000000,7307.000000,14212.000000,6401.000000,12892.000000,5342.000000,11866.000000,...,6795.000000,2567.000000,5961.000000,2562.000000,6026.000000,2847.000000,6370.000000,NaN,NaN,NaN
25 - 29,11937,4734.000000,18652.000000,13093.000000,18537.000000,16724.000000,19220.000000,18799.000000,19128.000000,19353.000000,...,15376.000000,11257.000000,15045.000000,11644.000000,15778.000000,12150.000000,16395.000000,NaN,NaN,NaN
30 - 34,2913,1058.000000,5061.000000,1822.000000,6951.000000,3025.000000,8715.000000,4037.000000,10103.000000,5026.000000,...,8204.000000,11480.000000,8282.000000,12104.000000,9075.000000,12404.000000,9401.000000,NaN,NaN,NaN
35 - 39,1123,394.000000,1561.000000,458.000000,1786.000000,533.000000,2054.000000,611.000000,2146.000000,760.000000,...,2013.000000,5233.000000,2589.000000,5869.000000,3001.000000,6365.000000,3345.000000,NaN,NaN,NaN
40 - 44,454,179.000000,530.000000,162.000000,564.000000,171.000000,656.000000,203.000000,740.000000,177.000000,...,357.000000,1298.000000,448.000000,1567.000000,606.000000,1984.000000,825.000000,NaN,NaN,NaN
45 - 49,200,104.000000,280.000000,94.000000,281.000000,90.000000,294.000000,98.000000,296.000000,89.000000,...,116.000000,403.000000,122.000000,459.000000,132.000000,586.000000,167.000000,NaN,NaN,NaN
50 - 54,103,33.000000,144.000000,53.000000,158.000000,66.000000,159.000000,59.000000,201.000000,58.000000,...,51.000000,180.000000,65.000000,199.000000,75.000000,250.000000,78.000000,NaN,NaN,NaN
55+,119,73.000000,158.000000,73.000000,159.000000,47.000000,177.000000,58.000000,171.000000,62.000000,...,57.000000,234.000000,87.000000,214.000000,79.000000,224.000000,61.000000,NaN,NaN,NaN
NaN,struktura v % St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Celkem\n Total,100,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN,NaN
16 - 19,11.3194,39.076774,1.694874,7.243306,0.757996,4.132413,0.695836,3.643799,0.573709,3.144670,...,1.417337,0.277922,1.301886,0.210429,1.089461,0.200629,1.023743,NaN,NaN,NaN
20 - 24,55.8487,48.143829,34.509188,54.818436,20.288205,39.075087,16.871376,33.795580,13.930686,30.736951,...,20.318153,7.839844,18.047776,7.385201,17.141232,7.718794,17.206450,NaN,NaN,NaN
25 - 29,23.2604,9.201166,45.096712,31.528126,51.468792,45.981689,50.658935,49.280415,49.881347,50.130812,...,45.976737,34.379867,45.550880,33.564902,44.881240,32.941113,44.285676,NaN,NaN,NaN
30 - 34,5.67626,2.056365,12.236460,4.387401,19.299756,8.317066,22.970480,10.582746,26.346259,13.019039,...,24.531292,35.060929,25.074934,34.890894,25.814251,33.629758,25.393695,NaN,NaN,NaN
35 - 39,2.18827,0.765792,3.774178,1.102870,4.958907,1.465453,5.413811,1.601699,5.596266,1.968657,...,6.019197,15.982042,7.838566,16.917933,8.536481,17.256805,9.035412,NaN,NaN,NaN
40 - 44,0.884663,0.347911,1.281431,0.390098,1.565971,0.470155,1.729046,0.532152,1.929747,0.458490,...,1.067488,3.964206,1.356384,4.517022,1.723795,5.379026,2.228465,NaN,NaN,NaN
45 - 49,0.389719,0.202138,0.676983,0.226353,0.780209,0.247450,0.774908,0.256901,0.771899,0.230540,...,0.346859,1.230797,0.369372,1.323110,0.375480,1.588765,0.451095,NaN,NaN,NaN
50 - 54,0.200705,0.064140,0.348162,0.127625,0.438694,0.181463,0.419083,0.154665,0.524161,0.150240,...,0.152498,0.549736,0.196797,0.573636,0.213341,0.677801,0.210691,NaN,NaN,NaN
55+,0.231883,0.141885,0.382012,0.175785,0.441470,0.129224,0.466526,0.152043,0.445928,0.160601,...,0.170439,0.714657,0.263405,0.616875,0.224719,0.607309,0.164771,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [63]:
data = pd.read_excel(link, header = None, index_col = 0, skiprows = 4)
data

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
0,,,,,,,,,,,,,,,,,,,,,
Vk\nAge,1993,NaN,2000,NaN,2003,NaN,2004,NaN,2005,NaN,...,NaN,2013,NaN,2014,NaN,2015,NaN,NaN,NaN,NaN
NaN,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,...,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,enich\nGroom,nevsta\nBride,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Celkem\n Total,51319,51450,41360,41528,36016,36371,37940,38147,38347,38605,...,33443,32743,33029,34691,35155,36884,37021,NaN,NaN,NaN
16 - 19,5809,20105,701,3008,273,1503,264,1390,220,1214,...,474,91,430,73,383,74,379,NaN,NaN,NaN
20 - 24,28661,24770,14273,22765,7307,14212,6401,12892,5342,11866,...,6795,2567,5961,2562,6026,2847,6370,NaN,NaN,NaN
25 - 29,11937,4734,18652,13093,18537,16724,19220,18799,19128,19353,...,15376,11257,15045,11644,15778,12150,16395,NaN,NaN,NaN
30 - 34,2913,1058,5061,1822,6951,3025,8715,4037,10103,5026,...,8204,11480,8282,12104,9075,12404,9401,NaN,NaN,NaN
35 - 39,1123,394,1561,458,1786,533,2054,611,2146,760,...,2013,5233,2589,5869,3001,6365,3345,NaN,NaN,NaN
40 - 44,454,179,530,162,564,171,656,203,740,177,...,357,1298,448,1567,606,1984,825,NaN,NaN,NaN
45 - 49,200,104,280,94,281,90,294,98,296,89,...,116,403,122,459,132,586,167,NaN,NaN,NaN
50 - 54,103,33,144,53,158,66,159,59,201,58,...,51,180,65,199,75,250,78,NaN,NaN,NaN
55+,119,73,158,73,159,47,177,58,171,62,...,57,234,87,214,79,224,61,NaN,NaN,NaN
NaN,struktura v % St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Celkem\n Total,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,NaN,NaN,NaN
16 - 19,11.3194,39.0768,1.69487,7.24331,0.757996,4.13241,0.695836,3.6438,0.573709,3.14467,...,1.41734,0.277922,1.30189,0.210429,1.08946,0.200629,1.02374,NaN,NaN,NaN
20 - 24,55.8487,48.1438,34.5092,54.8184,20.2882,39.0751,16.8714,33.7956,13.9307,30.737,...,20.3182,7.83984,18.0478,7.3852,17.1412,7.71879,17.2065,NaN,NaN,NaN
25 - 29,23.2604,9.20117,45.0967,31.5281,51.4688,45.9817,50.6589,49.2804,49.8813,50.1308,...,45.9767,34.3799,45.5509,33.5649,44.8812,32.9411,44.2857,NaN,NaN,NaN
30 - 34,5.67626,2.05637,12.2365,4.3874,19.2998,8.31707,22.9705,10.5827,26.3463,13.019,...,24.5313,35.0609,25.0749,34.8909,25.8143,33.6298,25.3937,NaN,NaN,NaN
35 - 39,2.18827,0.765792,3.77418,1.10287,4.95891,1.46545,5.41381,1.6017,5.59627,1.96866,...,6.0192,15.982,7.83857,16.9179,8.53648,17.2568,9.03541,NaN,NaN,NaN
40 - 44,0.884663,0.347911,1.28143,0.390098,1.56597,0.470155,1.72905,0.532152,1.92975,0.45849,...,1.06749,3.96421,1.35638,4.51702,1.72379,5.37903,2.22846,NaN,NaN,NaN
45 - 49,0.389719,0.202138,0.676983,0.226353,0.780209,0.24745,0.774908,0.256901,0.771899,0.23054,...,0.346859,1.2308,0.369372,1.32311,0.37548,1.58876,0.451095,NaN,NaN,NaN
50 - 54,0.200705,0.0641399,0.348162,0.127625,0.438694,0.181463,0.419083,0.154665,0.524161,0.15024,...,0.152498,0.549736,0.196797,0.573636,0.213341,0.677801,0.210691,NaN,NaN,NaN
55+,0.231883,0.141885,0.382012,0.175785,0.44147,0.129224,0.466526,0.152043,0.445928,0.160601,...,0.170439,0.714657,0.263405,0.616875,0.224719,0.607309,0.164771,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [64]:
data.iloc[0]

1     1993
2      NaN
3     2000
4      NaN
5     2003
6      NaN
7     2004
8      NaN
9     2005
10     NaN
11    2006
12     NaN
13    2007
14     NaN
15    2008
16     NaN
17    2009
18     NaN
19    2010
20     NaN
21    2011
22     NaN
23    2013
24     NaN
25    2014
26     NaN
27    2015
28     NaN
29     NaN
30     NaN
31     NaN
Name: Vk\nAge, dtype: object

In [65]:
data.iloc[5]

1     28661
2     24770
3     14273
4     22765
5      7307
6     14212
7      6401
8     12892
9      5342
10    11866
11     4790
12    10989
13     4650
14    11009
15     4109
16     9735
17     3383
18     8066
19     2983
20     7376
21     2796
22     6795
23     2567
24     5961
25     2562
26     6026
27     2847
28     6370
29      NaN
30      NaN
31      NaN
Name: 20 - 24, dtype: object

In [66]:
col1 = data.iloc[0].fillna(method = 'ffill')
col2 = data.iloc[1].str.split(pat='\n', n = 0).str.get(1)
columns = [col1, col2]

columns = list(zip(*columns))

In [67]:
data.columns = columns
data = data.drop(data.index[[0,1,2]])
data

,"(1993, Groom)","(1993, Bride)","(2000, Groom)","(2000, Bride)","(2003, Groom)","(2003, Bride)","(2004, Groom)","(2004, Bride)","(2005, Groom)","(2005, Bride)",...,"(2011, Bride)","(2013, Groom)","(2013, Bride)","(2014, Groom)","(2014, Bride)","(2015, Groom)","(2015, Bride)","(2015, nan)","(2015, nan)","(2015, nan)"
0,,,,,,,,,,,,,,,,,,,,,
Celkem\n Total,51319,51450,41360,41528,36016,36371,37940,38147,38347,38605,...,33443,32743,33029,34691,35155,36884,37021,NaN,NaN,NaN
16 - 19,5809,20105,701,3008,273,1503,264,1390,220,1214,...,474,91,430,73,383,74,379,NaN,NaN,NaN
20 - 24,28661,24770,14273,22765,7307,14212,6401,12892,5342,11866,...,6795,2567,5961,2562,6026,2847,6370,NaN,NaN,NaN
25 - 29,11937,4734,18652,13093,18537,16724,19220,18799,19128,19353,...,15376,11257,15045,11644,15778,12150,16395,NaN,NaN,NaN
30 - 34,2913,1058,5061,1822,6951,3025,8715,4037,10103,5026,...,8204,11480,8282,12104,9075,12404,9401,NaN,NaN,NaN
35 - 39,1123,394,1561,458,1786,533,2054,611,2146,760,...,2013,5233,2589,5869,3001,6365,3345,NaN,NaN,NaN
40 - 44,454,179,530,162,564,171,656,203,740,177,...,357,1298,448,1567,606,1984,825,NaN,NaN,NaN
45 - 49,200,104,280,94,281,90,294,98,296,89,...,116,403,122,459,132,586,167,NaN,NaN,NaN
50 - 54,103,33,144,53,158,66,159,59,201,58,...,51,180,65,199,75,250,78,NaN,NaN,NaN
55+,119,73,158,73,159,47,177,58,171,62,...,57,234,87,214,79,224,61,NaN,NaN,NaN
Celkem\n Total,100,100,100,100,100,100,100,100,100,100,...,100,100,100,100,100,100,100,NaN,NaN,NaN
16 - 19,11.3194,39.0768,1.69487,7.24331,0.757996,4.13241,0.695836,3.6438,0.573709,3.14467,...,1.41734,0.277922,1.30189,0.210429,1.08946,0.200629,1.02374,NaN,NaN,NaN
20 - 24,55.8487,48.1438,34.5092,54.8184,20.2882,39.0751,16.8714,33.7956,13.9307,30.737,...,20.3182,7.83984,18.0478,7.3852,17.1412,7.71879,17.2065,NaN,NaN,NaN
25 - 29,23.2604,9.20117,45.0967,31.5281,51.4688,45.9817,50.6589,49.2804,49.8813,50.1308,...,45.9767,34.3799,45.5509,33.5649,44.8812,32.9411,44.2857,NaN,NaN,NaN
30 - 34,5.67626,2.05637,12.2365,4.3874,19.2998,8.31707,22.9705,10.5827,26.3463,13.019,...,24.5313,35.0609,25.0749,34.8909,25.8143,33.6298,25.3937,NaN,NaN,NaN
35 - 39,2.18827,0.765792,3.77418,1.10287,4.95891,1.46545,5.41381,1.6017,5.59627,1.96866,...,6.0192,15.982,7.83857,16.9179,8.53648,17.2568,9.03541,NaN,NaN,NaN
40 - 44,0.884663,0.347911,1.28143,0.390098,1.56597,0.470155,1.72905,0.532152,1.92975,0.45849,...,1.06749,3.96421,1.35638,4.51702,1.72379,5.37903,2.22846,NaN,NaN,NaN
45 - 49,0.389719,0.202138,0.676983,0.226353,0.780209,0.24745,0.774908,0.256901,0.771899,0.23054,...,0.346859,1.2308,0.369372,1.32311,0.37548,1.58876,0.451095,NaN,NaN,NaN
50 - 54,0.200705,0.0641399,0.348162,0.127625,0.438694,0.181463,0.419083,0.154665,0.524161,0.15024,...,0.152498,0.549736,0.196797,0.573636,0.213341,0.677801,0.210691,NaN,NaN,NaN
55+,0.231883,0.141885,0.382012,0.175785,0.44147,0.129224,0.466526,0.152043,0.445928,0.160601,...,0.170439,0.714657,0.263405,0.616875,0.224719,0.607309,0.164771,NaN,NaN,NaN

In [68]:
data.head()

,"(1993, Groom)","(1993, Bride)","(2000, Groom)","(2000, Bride)","(2003, Groom)","(2003, Bride)","(2004, Groom)","(2004, Bride)","(2005, Groom)","(2005, Bride)",...,"(2011, Bride)","(2013, Groom)","(2013, Bride)","(2014, Groom)","(2014, Bride)","(2015, Groom)","(2015, Bride)","(2015, nan)","(2015, nan)","(2015, nan)"
0,,,,,,,,,,,,,,,,,,,,,
Celkem\n Total,51319,51450,41360,41528,36016,36371,37940,38147,38347,38605,...,33443,32743,33029,34691,35155,36884,37021,NaN,NaN,NaN
16 - 19,5809,20105,701,3008,273,1503,264,1390,220,1214,...,474,91,430,73,383,74,379,NaN,NaN,NaN
20 - 24,28661,24770,14273,22765,7307,14212,6401,12892,5342,11866,...,6795,2567,5961,2562,6026,2847,6370,NaN,NaN,NaN
25 - 29,11937,4734,18652,13093,18537,16724,19220,18799,19128,19353,...,15376,11257,15045,11644,15778,12150,16395,NaN,NaN,NaN
30 - 34,2913,1058,5061,1822,6951,3025,8715,4037,10103,5026,...,8204,11480,8282,12104,9075,12404,9401,NaN,NaN,NaN

In [69]:
data.index.str.replace('Celkem\n', '')

Index([' Total', '16 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39',
       '40 - 44', '45 - 49', '50 - 54', '55+', ' Total', '16 - 19', '20 - 24',
       '25 - 29', '30 - 34', '35 - 39', '40 - 44', '45 - 49', '50 - 54',
       '55+'],
      dtype='object', name=0)

In [70]:
data.index = data.index.str.replace('Celkem\n', '')

In [71]:
data.head()

,"(1993, Groom)","(1993, Bride)","(2000, Groom)","(2000, Bride)","(2003, Groom)","(2003, Bride)","(2004, Groom)","(2004, Bride)","(2005, Groom)","(2005, Bride)",...,"(2011, Bride)","(2013, Groom)","(2013, Bride)","(2014, Groom)","(2014, Bride)","(2015, Groom)","(2015, Bride)","(2015, nan)","(2015, nan)","(2015, nan)"
0,,,,,,,,,,,,,,,,,,,,,
Total,51319,51450,41360,41528,36016,36371,37940,38147,38347,38605,...,33443,32743,33029,34691,35155,36884,37021,NaN,NaN,NaN
16 - 19,5809,20105,701,3008,273,1503,264,1390,220,1214,...,474,91,430,73,383,74,379,NaN,NaN,NaN
20 - 24,28661,24770,14273,22765,7307,14212,6401,12892,5342,11866,...,6795,2567,5961,2562,6026,2847,6370,NaN,NaN,NaN
25 - 29,11937,4734,18652,13093,18537,16724,19220,18799,19128,19353,...,15376,11257,15045,11644,15778,12150,16395,NaN,NaN,NaN
30 - 34,2913,1058,5061,1822,6951,3025,8715,4037,10103,5026,...,8204,11480,8282,12104,9075,12404,9401,NaN,NaN,NaN