# Python data types assignment

# 1. Print word `python` in reverse order

# 2. Define variables `apples` and `oranges` and using `format` methos print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

# 4. Get difference betweet two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

# 6. Convert a tuple to a string
```python
what_i_want_to_do = ('p', 'y', 't', 'h', 'o', 'n')
```

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

# 9. Remove item(s) from set. Can you gess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

# BONUS: test whether every element of first set is in second set ans vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```